.button {
    color: whitesmoke;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
   background-color: red; 
   color: gold;
}

.button:focus {
    background-color: pink;
}